<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New URL</h1>

  <%= form_with model: @url, local: true do |form| %>
    <div class="mb-4">
      <%= form.label :target_url, "Enter URL to shorten" %>
      <%= form.text_field :target_url, class: "block w-full p-2 border border-gray-300 rounded-md" %>
    </div>
    
    <%= form.submit "Shorten URL", class: "rounded-lg py-3 px-5 bg-blue-500 text-white inline-block font-medium" %>
  <% end %>

  <%= link_to "Back to URLs", urls_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
