<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h2 class="font-bold text-3xl">Shortened URL Details</h2>
    <p><strong>Original URL:</strong> <%= @url.target_url %></p>
    <p><strong>Shortened URL:</strong> <%= link_to @full_short_url, @full_short_url, target: "_blank", class: "text-blue-500 underline" %></p>
    <p><strong>Title:</strong> <%= @url.title %></p>

    <%= link_to "View Visit Dashboard", show_visits_path(@url.short_url), class: "text-blue-500 hover:text-blue-700" %>
    <%= link_to "Shorten another URL", new_url_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to URLs", urls_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <div class="inline-block ml-2">
      <%= button_to "Destroy this URL", @url, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>