<div class="flex flex-col xl:w-3/4 w-full mx-auto h-full items-center justify-start mt-10">
  <div class=" h-auto w-full rounded-lg px-8 pt-6 pb-8 mb-4 flex lg:flex-row flex-col border-4 border-dashed justify-center">
    <div class="flex flex-col lg:w-1/2 w-full justify-center">
      <h1 class="text-6xl lg:text-8xl font-bold mb-10 text-center text-white">MiniURL</h1>
      <p class="text-xl mb-6 text-center text-white mx-3">
        URL shorten successfully!
      </p>
    </div>
    <div class="lg:w-1/2 w-full lg:ml-4 flex flex-col justify-center text-white">
      <h2 class="font-bold text-3xl mx-auto mb-6 text-center">Shortened URL Details</h2>
      
      <div class="flex flex-col lg:space-y-4 w-full">

        <div class="flex flex-col mx-auto w-4/5">
          <span class="font-bold mb-2">Title:</span>
          <div class="bg-secondary text-background p-2 rounded border border-gray-300 text-clip whitespace-nowrap max-w-lg">
            <%= @url.title %>
          </div>
        </div>

        <div class="flex flex-col mx-auto w-4/5">
          <span class="font-bold mb-2">Original URL:</span>
          <div class="bg-secondary text-background p-2 rounded border-gray-300 text-clip whitespace-nowrap max-w-lg">
            <%= @url.target_url%>
          </div>
        </div>

        <div class="flex flex-col mx-auto w-4/5">
          <span class="font-bold mb-2">Short URL:</span>
          <div class="bg-secondary text-background p-2 rounded border-gray-300">
            <%= @full_short_url%>
          </div>
        </div>

        <div class="flex flex-row mx-auto w-4/5 justify-evenly">
          <div class="tooltip" data-tip="Visit URL">
            <a class="btn bg-primary text-black" href="<%= @full_short_url %>" target="_blank">
               <%= image_tag("visit-icon.png", class: "h-6 w-6")%>
            </a>
          </div>
          <div class="tooltip" data-tip="Copy URL" data-controller="clipboard">
            <button id="copy-button" class="btn bg-primary text-black" data-clipboard-text="<%= @full_short_url %>" data-clipboard-target="source" data-action="click->clipboard#copy">
              <%= image_tag("copy-icon.png", class: "h-6 w-6")%>
            </button>
          </div>
          <a class="btn bg-primary text-black w-1/2" href="/">Shorten another</a>
        </div>
      </div>
    </div>
  </div>
</div>