<div class="flex flex-col w-full mx-auto h-3/4 items-center justify-start mt-5 lg:mt-10">
  <h1 class="text-4xl lg:text-6xl text-white text-center mb-2 lg:mb-5">MiniURL Usage Report</h1>
  <div class="flex lg:flex-row flex-col h-full w-full lg:w-4/5 justify-center lg:space-x-7">
    <ul class="menu menu-horizontal lg:order-first order-last bg-secondary rounded-box lg:w-1/2 w-full h-full max-h-full text-black overflow-y-auto overflow-x-hidden">
      <% if @url %>
        <li class="w-full rounded-lg">
          <div class="flex flex-col items-start bg-primary">
            <div class="text-xs whitespace-normal w-full">
              <%= @url.title %>
            </div>
            <div class="text-bold text-lg lg:text-xl">
              <%= @full_short_url %>
            </div>
            <div class="text-xs whitespace-normal w-full">
              <%= @url.target_url %>
            </div>

            <div class="flex flex-row w-full justify-between items-center">
              <div class="flex flex-row space-x-3 w-1/2 justify-start items-center">
                <div class="tooltip" data-tip="Visit URL">
                  <a class="btn btn-xs bg-primary text-black" href="<%= @full_short_url %>" target="_blank">
                    <%= image_tag("visit-icon.png", class: "h-4 w-4")%>
                  </a>
                </div>
                <div class="tooltip" data-tip="Copy URL" data-controller="clipboard">
                  <button id="copy-button" class="btn btn-xs bg-primary text-black" data-clipboard-text="<%= @full_short_url %>" data-clipboard-target="source" data-action="click->clipboard#copy">
                    <%= image_tag("copy-icon.png", class: "h-4 w-4")%> Copy
                  </button>
                </div>
              </div>

              <p class="text-xs">created <%= time_ago_in_words(@url.created_at) %> ago</p>
            </div>
          </div>
        </li>
      <% end %>
      <% @urls.each do |url| %>
      <% next if url == @url %>
        <li class="w-full">
          <a href="/myurls/<%= url.short_url %>" class="flex flex-col items-start hover:bg-slate-300">
            <div class="text-xs whitespace-normal w-full">
              <%= url.title %>
            </div>
            <div class="text-bold text-xl">
              <%= url.full_short_url %>
            </div>
            <div class="text-xs whitespace-normal w-full">
              <%= url.target_url%>
            </div>

            <p class="text-xs text-right w-full">created <%= time_ago_in_words(url.created_at) %> ago</p>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="flex flex-col w-full lg:w-1/2 h-1/2 lg:h-full justify-start lg:order-last order-first">

      <h2 class="text-lg xl:text-2xl text-white my-2 lg:my-5 mx-auto"><%= @full_short_url%></h2>

      <div class="flex w-full mb-2 lg:mb-5">
        <div class="card bg-secondary text-black text-xs lg:text-base rounded-box grid h-10 lg:h-20 flex-grow place-items-center w-1/2">
          <p><strong>Total Visits:</strong> <%= @visits.present? ? @visits.count : 0 %></p>
        </div>
        <div class="divider divider-horizontal"></div>
        <div class="card bg-secondary text-black text-xs lg:text-base rounded-box flex flex-row items-center justify-center h-10 lg:h-20 flex-grow w-1/2">
          <p class="mr-2"><strong>Top Country:</strong></p>
          <p>
            <% top_country = @visits.group(:country).order('count_id DESC').limit(1).count(:id).first %>
            <%= top_country.present? ? top_country[0] : "-" %>
          </p>
        </div>
      </div>

      <div class="overflow-x-auto h-full border border-white rounded-lg mb-2 lg:mb-0">
        <table class="table text-white bg-background ">
          <thead class="sticky top-0 bg-background">
            <tr class="text-white">
              <th>Visit TimeStamp</th>
              <th>City</th>
              <th>Region</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <% if @visits.any?%>
              <% @visits.order(created_at: :desc).limit(10).each do |visit| %>
                <tr>
                  <td class="px-2 lg:px-4 py-2"><%= visit.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td class="px-2 lg:px-4 py-2"><%= visit.city %></td>
                  <td class="px-2 lg:px-4 py-2"><%= visit.region %></td>
                  <td class="px-2 lg:px-4 py-2"><%= visit.country %></td>
                </tr>
              <% end %>
            <%else%>
              <tr>
                <td colspan="4" class="text-center items-center lg:h-96 text-xl lg:text-2xl">URL has not been visited</td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>